<div class="row g-0">
    <div class="col-md-6 left">
      <h3 class="m-3">Unique</h3>
      <h1 style="margin-top: 10vh;margin-left: 18px;">Premium Car <br> Rental in Nairobi.</h1>
      <p class="m-3">We have patnered with the world’s leading manufacture’s and <br> brands to create a cross border experience without having to <br> sacrifice the comfort of city rides.</p>
      <button class="btn1 m-3">Visit Our Fleet</button><br>
      <div class="models__section">
        <img class="img-fluid models" src="assets/images/bmw.png" alt="">
        <img class="img-fluid models" src="assets/images/benz.png" alt="">
        <img class="img-fluid models" src="assets/images/posh.png" alt="">
        <img class="img-fluid models" src="assets/images/tesla.png" alt="">
        <img class="img-fluid models" src="assets/images/toyota.png" alt="">
      </div>
    </div>
    <div class="col-md-6 right">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
              <li class="nav-item dropdown" style="margin-right: 110px;">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <img class="img-fluid profile__homeImg" src="assets/images/port-min.jpeg" alt="">
                </a> 
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="#">View Profile</a></li>
                  <li><a class="dropdown-item" href="#"><small class="m-3"><i class="bi bi-box-arrow-left"></i></small>Logout</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <img class="img-fluid hero__car" src="assets/images/car.png" alt="">
    </div>
  </div>
