h1{
    font-weight: bolder;
}
h4{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}
p{
    font-family: Nunito;
}
.category__buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.category__buttons > button{
    margin: 5px;
    border: none;
    border-radius: 3px;
    height: 40px;
    width: 100px;
    font-family: Nunito;
}
.category__buttons > button:first-child{
    background: black;
    color: white;
}
.category__buttons > button:nth-child(3){
    background: black;
    color: white;
}
.category__buttons > button:nth-child(5){
    background: black;
    color: white;
}
.lower__gallery__section > div > div > a > img{
    border-radius: 10px;
    margin-bottom: 15px;
    transition: transform 450ms;
}
.lower__gallery__section > div > div > a > img:hover{
    transform: scale(1.1);
}
