<div class="container">
    <h4 class="mt-3">Unique</h4>
    <h1 class="text-center">Our Vehicle Fleet</h1>
    <p class="text-center">We provide our customers with the most incredible driving emotions.<br>
        That’s why we only have world class cars in our feet.
    </p>
    <div class="category__buttons mt-5">
        <button>All</button>
        <button>BENZ</button>
        <button>BMW</button>
        <button>PORSCHE</button>
        <button>TOYOTA</button>
        <button>TESLA</button>
    </div>
    <div class="top__gallery__section">
        <img class="img-fluid" src="assets/images/1.jpg" alt="">
        <img class="img-fluid" src="assets/images/2.jpg" alt="">
        <img class="img-fluid" src="assets/images/3.jpg" alt="">
        <img class="img-fluid" src="assets/images/1.jpg" alt="">
        <img class="img-fluid" src="assets/images/2.jpg" alt="">
        <img class="img-fluid" src="assets/images/1.jpg" alt="">
    </div>
    <div class="lower__gallery__section mt-5 mb-5">
        <div class="row">
            <div class="col-md-3">
                <a href="/details"><img class="img-fluid" src="assets/images/4.jpg" alt=""></a>
            </div>
            <div class="col-md-3">
                <img class="img-fluid" src="assets/images/4.jpg" alt="">
            </div>
            <div class="col-md-3">
                <img class="img-fluid" src="assets/images/4.jpg" alt="">
            </div>
            <div class="col-md-3">
                <img class="img-fluid" src="assets/images/4.jpg" alt="">
            </div>
        </div>
    </div>
</div>
