h1{
    font-weight: bolder;
}
h4{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}
p{
    font-family: Nunito;
}
.category__buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.category__buttons > button{
    margin: 5px;
    border: none;
    border-radius: 3px;
    height: 40px;
    width: 100px;
    font-family: Nunito;
}
.category__buttons > button:first-child{
    background: black;
    color: white;
}
.category__buttons > button:nth-child(3){
    background: black;
    color: white;
}
.category__buttons > button:nth-child(5){
    background: black;
    color: white;
}
.top__gallery__section{
    margin-top: 10vh;
    margin-bottom: 10px;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
}
.top__gallery__section::-webkit-scrollbar{
    display: none;
}
.top__gallery__section > img{
    max-height: 350px;
    width: 300px;
    border-radius: 15px;
    margin: 15px;
}
.lower__gallery__section > div > div > img{
    border-radius: 10px;
    margin-bottom: 8px;
}